@using BlogTdsTecnologia.Models.PostModel
@model Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}



<h2 class="post-title">@Model.Titulo</h2>
<h3 class="post-subtitle">@Model.Resumo</h3>


<article>
    <div class="container">
        <div class="row">
            @Model.Texto
        </div>
    </div>
</article>